In [124]:
#Credit Card Approval Project â€“ The dataset was downloaded from the UCI Machine Learning Repository. 
# The main goal of this Machine Learning Task is to build a credit card approval Predictor using pandas, numpy, and sci-kit learn.

# Step 1 importing libraries
import pandas as pd
import numpy as np

# loading the dataset we're going to work with; insert the path of the dataset in the quotation marks below
CCA = pd.read_csv("/Users/kristinaserova/Downloads/cc_approvals.data",header =None)
CCA.head()

  0      1      2  3  4  5  6     7  8  9   10 11 12     13   14 15
0  b  30.83  0.000  u  g  w  v  1.25  t  t   1  f  g  00202    0  +
1  a  58.67  4.460  u  g  q  h  3.04  t  t   6  f  g  00043  560  +
2  a  24.50  0.500  u  g  q  h  1.50  t  f   0  f  g  00280  824  +
3  b  27.83  1.540  u  g  w  v  3.75  t  t   5  t  g  00100    3  +
4  b  20.17  5.625  u  g  w  v  1.71  t  f   0  f  s  00120    0  +

In [125]:
#renaming the columns

In [126]:
CCA.rename(columns={0:"Gender",1:'Age',2:'Debt', 3:'Married', 4:'Bank Customer',5:'Education Level',
                             6:'Ethnicity',7:'YearsEmployed', 8:'PriorDefault', 9:'Employed', 10:'CreditScore', 11:'DriverLicense', 
                             12:'Citizen', 13:'ZipCode', 14:'Income',15:'Approval Status'
                            }, inplace = True)

In [127]:
CCA

,Gender,Age,Debt,Married,Bank Customer,Education Level,Ethnicity,YearsEmployed,PriorDefault,Employed,CreditScore,DriverLicense,Citizen,ZipCode,Income,Approval Status
0,b,30.83,0.000,u,g,w,v,1.25,t,t,1,f,g,00202,0,+
1,a,58.67,4.460,u,g,q,h,3.04,t,t,6,f,g,00043,560,+
2,a,24.50,0.500,u,g,q,h,1.50,t,f,0,f,g,00280,824,+
3,b,27.83,1.540,u,g,w,v,3.75,t,t,5,t,g,00100,3,+
4,b,20.17,5.625,u,g,w,v,1.71,t,f,0,f,s,00120,0,+
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
685,b,21.08,10.085,y,p,e,h,1.25,f,f,0,f,g,00260,0,-
686,a,22.67,0.750,u,g,c,v,2.00,f,t,2,t,g,00200,394,-
687,a,25.25,13.500,y,p,ff,ff,2.00,f,t,1,t,g,00200,1,-
688,b,17.92,0.205,u,g,aa,v,0.04,f,f,0,f,g,00280,750,-
689,b,35.00,3.375,u,g,c,h,8.29,f,f,0,t,g,00000,0,-

In [128]:
#checking the descriptive statistics of the dataset
CCA.describe()
print('\n')

In [129]:
CCA.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Gender           690 non-null    object
 1   Age              690 non-null    object
 2   Debt             690 non-null    float64
 3   Married          690 non-null    object
 4   Bank Customer    690 non-null    object
 5   Education Level  690 non-null    object
 6   Ethnicity        690 non-null    object
 7   YearsEmployed    690 non-null    float64
 8   PriorDefault     690 non-null    object
 9   Employed         690 non-null    object
 10  CreditScore      690 non-null    int64
 11  DriverLicense    690 non-null    object
 12  Citizen          690 non-null    object
 13  ZipCode          690 non-null    object
 14  Income           690 non-null    int64
 15  Approval Status  690 non-null    object
dtypes: float64(2), int64(2), object(12)
memory usage: 86.4+ KB

In [130]:
#searching for missing data in the dataset, displaying the last 17 rows
CCA.tail(17)

,Gender,Age,Debt,Married,Bank Customer,Education Level,Ethnicity,YearsEmployed,PriorDefault,Employed,CreditScore,DriverLicense,Citizen,ZipCode,Income,Approval Status
673,?,29.50,2.000,y,p,e,h,2.000,f,f,0,f,g,00256,17,-
674,a,37.33,2.500,u,g,i,h,0.210,f,f,0,f,g,00260,246,-
675,a,41.58,1.040,u,g,aa,v,0.665,f,f,0,f,g,00240,237,-
676,a,30.58,10.665,u,g,q,h,0.085,f,t,12,t,g,00129,3,-
677,b,19.42,7.250,u,g,m,v,0.040,f,t,1,f,g,00100,1,-
678,a,17.92,10.210,u,g,ff,ff,0.000,f,f,0,f,g,00000,50,-
679,a,20.08,1.250,u,g,c,v,0.000,f,f,0,f,g,00000,0,-
680,b,19.50,0.290,u,g,k,v,0.290,f,f,0,f,g,00280,364,-
681,b,27.83,1.000,y,p,d,h,3.000,f,f,0,f,g,00176,537,-
682,b,17.08,3.290,u,g,i,v,0.335,f,f,0,t,g,00140,2,-
683,b,36.42,0.750,y,p,d,v,0.585,f,f,0,f,g,00240,3,-
684,b,40.58,3.290,u,g,m,v,3.500,f,f,0,t,s,00400,0,-
685,b,21.08,10.085,y,p,e,h,1.250,f,f,0,f,g,00260,0,-
686,a,22.67,0.750,u,g,c,v,2.000,f,t,2,t,g,00200,394,-
687,a,25.25,13.500,y,p,ff,ff,2.000,f,t,1,t,g,00200,1,-
688,b,17.92,0.205,u,g,aa,v,0.040,f,f,0,f,g,00280,750,-
689,b,35.00,3.375,u,g,c,h,8.290,f,f,0,t,g,00000,0,-

In [131]:
CCA.describe()

             Debt  YearsEmployed  CreditScore         Income
count  690.000000     690.000000    690.00000     690.000000
mean     4.758725       2.223406      2.40000    1017.385507
std      4.978163       3.346513      4.86294    5210.102598
min      0.000000       0.000000      0.00000       0.000000
25%      1.000000       0.165000      0.00000       0.000000
50%      2.750000       1.000000      0.00000       5.000000
75%      7.207500       2.625000      3.00000     395.500000
max     28.000000      28.500000     67.00000  100000.000000

In [132]:
#Now, we're splitting the dataset into to sets to complete machine learning modeling: a train set a test set
#zipcode and #drivinglicense are not as important as other features, therefore, we're not adding them in the feature selection
CCA.drop(CCA.columns[[11, 13]], axis =1, inplace = True)
CCA.head()

,Gender,Age,Debt,Married,Bank Customer,Education Level,Ethnicity,YearsEmployed,PriorDefault,Employed,CreditScore,Citizen,Income,Approval Status
0,b,30.83,0.000,u,g,w,v,1.25,t,t,1,g,0,+
1,a,58.67,4.460,u,g,q,h,3.04,t,t,6,g,560,+
2,a,24.50,0.500,u,g,q,h,1.50,t,f,0,g,824,+
3,b,27.83,1.540,u,g,w,v,3.75,t,t,5,g,3,+
4,b,20.17,5.625,u,g,w,v,1.71,t,f,0,s,0,+

In [133]:
from sklearn.model_selection import train_test_split

In [134]:
CCA_train,CCA_test = train_test_split(CCA, test_size=0.33, random_state = 42)
#test_size should be a number between 0 and 1 -- represents proportion included into the test dataset -- 33%

In [135]:
#handling the missing values in the dataset

In [136]:
CCA_train = CCA_train.replace('?', np.NaN)
CCA_test = CCA_test.replace('?', np.NaN)

In [137]:
CCA_train.fillna(CCA_train.mean(), inplace = True)

/var/folders/ln/rcx9fz6x1m70jp0b3qjrm6880000gn/T/ipykernel_41698/4280084252.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  CCA_train.fillna(CCA_train.mean(), inplace = True)

In [138]:
CCA_test.fillna(CCA_test.mean(), inplace = True)

/var/folders/ln/rcx9fz6x1m70jp0b3qjrm6880000gn/T/ipykernel_41698/312716935.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  CCA_test.fillna(CCA_test.mean(), inplace = True)

In [139]:
CCA_test.isnull().sum()

Gender             4
Age                7
Debt               0
Married            0
Bank Customer      0
Education Level    2
Ethnicity          2
YearsEmployed      0
PriorDefault       0
Employed           0
CreditScore        0
Citizen            0
Income             0
Approval Status    0
dtype: int64

In [140]:
#getting rid of missing values in non-numerical columns

In [141]:
for col in CCA.columns:
    if CCA_train[col].dtypes =='object':
        CCA_train = CCA_train.fillna(CCA_train[col].value_counts().index[0])
        CCA_test = CCA_test.fillna(CCA_train[col].value_counts().index[0])
print(CCA_test.isnull().sum())
print(CCA_train.isnull().sum())

Gender             0
Age                0
Debt               0
Married            0
Bank Customer      0
Education Level    0
Ethnicity          0
YearsEmployed      0
PriorDefault       0
Employed           0
CreditScore        0
Citizen            0
Income             0
Approval Status    0
dtype: int64
Gender             0
Age                0
Debt               0
Married            0
Bank Customer      0
Education Level    0
Ethnicity          0
YearsEmployed      0
PriorDefault       0
Employed           0
CreditScore        0
Citizen            0
Income             0
Approval Status    0
dtype: int64

In [142]:
#converting non-numerical values in numerical ones
CCA_train = pd.get_dummies(CCA_train)
CCA_test = pd.get_dummies(CCA_test)

In [143]:
#reindexing the columns in the test set aligning with the data set
CCA_test = CCA_test.reindex(columns=CCA_train.columns, fill_value=0)

In [144]:
from sklearn.preprocessing import MinMaxScaler
# creating separate labels for scaled features
X_train, y_train = CCA_train.iloc[:,:-1].values, CCA_train.iloc[:,[-1]].values
X_test, y_test = CCA_test.iloc[:,:-1].values, CCA_test.iloc[:,[-1]].values

In [145]:
scaler = MinMaxScaler(feature_range=(0,1))

In [146]:
rescaledX_train = scaler.fit_transform(X_train)
rescaledX_test = scaler.transform(X_test)
logreg = LogisticRegression()
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
rescaledX_train = scaler.fit_transform(X_train)

In [147]:
print("Missing values in X_train:", np.isnan(X_train).sum())
print("Missing values in y_train:", np.isnan(y_train).sum())

Missing values in X_train: 0
Missing values in y_train: 0

In [148]:
import sklearn
# Import LogisticRegression
from sklearn.linear_model import LogisticRegression
y_train = y_train.flatten()
# Fit logreg to the train set
logreg.fit(rescaledX_train, y_train)

LogisticRegression()

In [149]:
params = logreg.get_params()
params

{'C': 1.0,
 'class_weight': None,
 'dual': False,
 'fit_intercept': True,
 'intercept_scaling': 1,
 'l1_ratio': None,
 'max_iter': 100,
 'multi_class': 'auto',
 'n_jobs': None,
 'penalty': 'l2',
 'random_state': None,
 'solver': 'lbfgs',
 'tol': 0.0001,
 'verbose': 0,
 'warm_start': False}

In [150]:
from sklearn.metrics import confusion_matrix

In [151]:
y_pred = logreg.predict(rescaledX_test)

In [160]:
print("Accuracy of logistic regression classifier: ", logreg.score(rescaledX_test,y_test))

Accuracy of logistic regression classifier:  0.9692982456140351

In [161]:
confusion_matrix(y_test,y_pred)

array([[103,   0],
       [  7, 118]])

In [162]:
# Import GridSearchCV
from sklearn.model_selection import GridSearchCV

# Define the grid of values for tol and max_iter
tol = [0.01, 0.001 ,0.0001]
max_iter = [100, 150, 200]

# Create a dictionary where tol and max_iter are keys and the lists of their values are corresponding values
param_grid = dict(tol=tol, max_iter=max_iter)

In [163]:
# Instantiate GridSearchCV with the required parameters
grid_model = GridSearchCV(estimator=logreg, param_grid=param_grid, cv=5)

# Fit grid_model to the data
grid_model_result = grid_model.fit(rescaledX_train, y_train)

# Summarize results
best_score, best_params = grid_model_result.best_score_, grid_model_result.best_params_
print("Best: %f using %s" % (best_score, best_params))

# Extract the best model and evaluate it on the test set
best_model = grid_model_result.best_estimator_
print("Accuracy of logistic regression classifier: ", best_model.score(rescaledX_test,y_test))

Best: 0.976251 using {'max_iter': 100, 'tol': 0.01}
Accuracy of logistic regression classifier:  0.9692982456140351